h1 {
    background-color: rgb(188, 220, 255);
    padding: 14px;
}

footer {
    background-color: rgb(208, 162, 239);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(208, 162, 239);
    height: 46px;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 15pt;
  }
  li {
    float: left;
    border-right: 1px solid #000000
  }
  
  a:hover {
    font-weight:bold;
 }
 
 h2 {
  background-color: rgb(188, 220, 255);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
 }

 #winkelmandje {
  float: right;
    width: 2%;
    height: 3%;
 }

 #info-overons {
  background-color: rgb(188, 220, 255);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
 }

 .box {
  border: 1px solid black;
  width: 20%;
  text-align: center;
 }
 .boximage {
  width: 20%;
 }
 
